* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* debug */
    padding: 0.1rem;
    border: 1px solid cyan;
}
nav {
    display: flex;
}
body {

}
.container {
    min-width: 400px;
    width: 80%;
    margin: 0 auto;
}