* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* debug */
    padding: 0.1rem;
    border: 1px solid cyan;
}

body {
    font-size: 10px;
}

header {
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

.head-center {
    text-align: center;

    >h1 {
        margin: 4rem 0 1rem 0;
    }

    .header-description {
        margin: 1rem 6rem;
    }
    margin-bottom: 4rem;
}

.button-discord {
    background-color: transparent;
}

.button-access {
    background-color: white;
    border-radius: 1rem;

}

.menu {
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
}

.container {
    min-width: 400px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(245, 242, 242, 0.315)
}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}
.main-item {
    width: calc(100%/3 - (15px*2 /3));
    text-align: center;
    img {
        width: 100%;;
    }
}
.double {
    width: calc((100%/3 - (15px*2 /3))*2);
}
.full {
    width: 100%;
}