* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
}

header {
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

.head-center {
    text-align: center;

    >h1 {
        margin: 4rem 0 1rem 0;
    }

    .header-description {
        margin: 1rem 6rem;
    }

    .button-download-discord {
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: white;
        color: black;
    }

    .button-open-discord {
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: black;
        color: white;
    }

    padding-bottom: 4rem;
}

.discord-logo {
    img {
        width: 100px;
    }
}

.button-access {
    background-color: white;
    border-radius: 1rem;
    padding: 0rem 0.5rem

}

.menu {
    margin: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
}

.container {
    padding-top: 3rem;
    min-width: 400px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(245, 242, 242, 0.315)
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px
}

.main-item {
    width: calc(100%/3 - (15px*2 /3));
    text-align: center;

    img {
        width: 100%;
        ;
    }
}

.double {
    width: calc((100%/3 - (15px*2 /3))*2);
}

.full {
    width: 100%;

    h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .download-mac {
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: #8ea1e2;
        color: white;
    }

    margin-bottom: 3rem;
}

.nav-footer {
    background-color: black;
    color: white;
}